# Build results
bin/
obj/
nupkg/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
*.snupkg

# Test Results
TestResults/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
